html {
  background-image: linear-gradient(#172853, #dee6e8);
  font-family: 'Gelasio', serif;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.board {
  display: grid;
  padding: 50px;
}

.player-0-side {
  grid-column: 1;
}

.player-1-side {
  grid-column: 4;
}

.controls {
  text-align: center;
  display: block;
}

.button-roll {
  background-color: #218838;
  border: none;
  color: white;
  padding: 10px 25px;
  margin: 5px;
  font-size: 16px;
}
.button-roll:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 13%;
  height: auto;
}

.button-hold {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px 25px;
  margin: 5px;
  font-size: 16px;
}
.button-hold:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-new {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 25px;
  margin: 5px;
  font-size: 16px;
}
.button-new:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.score {
  font-size: 20px;
}

.overall-score {
  font-size: 20px;
  font-weight: bold;
  color: #218838;
}

.hold {
  font-size: 20px;
}

.hold-score {
  font-size: 20px;
  font-weight: bold;
  color: #dc3545;
}

h3 {
  text-decoration: underline;
  text-transform: uppercase;
}
